@import '~antd/dist/antd.css';

.container {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 100vh;

  .form {
    width: 400px;
    margin: auto;

    .login-form-button {
      width: 100%;
    }
  }
}

.layout {
  height: 100vh;
  .header-title {
    font-weight: bold;
    font-size: 16px;
    float: right;
    color: #fff;
  }
}




